In [1]:
import pandas as pd
import numpy as np

In [6]:
homme_df=pd.read_excel('C:\\Users\\GLOBALINFO\\Desktop\\homme.xlsx')

In [ ]:
homme_df.transpose

In [236]:
homme_df

,mois,Maladies infectieuses,Covid-19,Tuberculose,Sida,Tumeurs malignes,Estomac,Gros intestin,Poumons,Sein,...,Bronchite chronique,Asthme,Cirrhose du foie alcoolique,Organes urinaires,Anomalies congénitales,Causes de mortalité périnatale,Accidents et traumatismes,Accidents toutes les formes,Accidents de la route,Suicides
0,Jan-20,37,0,0,1,820,22,49,187,0,...,93,1,24,56,10,3,201,122,7,70
1,Feb-20,41,0,0,2,740,17,51,149,1,...,83,3,21,52,16,6,163,100,13,54
2,Mar-20,30,352,2,0,846,28,56,148,0,...,87,3,17,58,7,6,187,105,9,64
3,Apr-20,25,688,0,2,705,28,42,156,0,...,72,2,16,44,17,6,173,106,14,57
4,May-20,36,81,0,1,766,34,46,164,0,...,60,3,19,46,6,9,173,109,13,53
5,Jun-20,29,12,0,6,684,26,45,134,0,...,66,0,25,43,8,12,182,113,13,57
6,Jul-20,42,14,2,1,755,34,52,137,1,...,56,3,24,42,12,5,190,117,22,60
7,Aug-20,33,17,1,2,738,25,44,154,2,...,69,3,28,45,10,6,188,112,12,63
8,Sep-20,35,45,0,1,751,21,59,149,0,...,66,1,15,43,17,9,182,120,23,54
9,Oct-20,24,313,0,0,778,17,45,149,2,...,64,2,21,50,9,6,172,106,14,50
10,Nov-20,46,1676,0,1,706,25,53,137,1,...,62,1,29,68,13,6,190,120,14,54
11,Dec-20,1,1715,1,0,747,22,48,143,1,...,99,2,26,53,9,9,173,103,4,60

In [237]:
homme_df.columns

Index(['mois', 'Maladies infectieuses', 'Covid-19', 'Tuberculose', 'Sida',
       'Tumeurs malignes', 'Estomac', 'Gros intestin', 'Poumons', 'Sein',
       'Prostate', 'Diabète sucré', 'Démence', 'Appareil circulatoire',
       'Cardiopathies toutes formes', 'Cardiopathies ischémiques',
       'Embolie  infarctus pulmonaire', 'Maladies cérébro-vasculaires',
       'Appareil respiratoire', 'Grippe', 'Pneumonie', 'Bronchite chronique',
       'Asthme', 'Cirrhose du foie alcoolique', 'Organes urinaires',
       'Anomalies congénitales', 'Causes de mortalité périnatale',
       'Accidents et traumatismes', 'Accidents toutes les formes',
       'Accidents de la route', 'Suicides'],
      dtype='object')

In [ ]:
homme_df.drop(['Tuberculose', 'Sida','Estomac', 'Gros intestin', 'Poumons', 'Sein',
       'Prostate', 'Cardiopathies toutes formes', 'Cardiopathies ischémiques',
       'Embolie  infarctus pulmonaire', 'Maladies cérébro-vasculaires', 'Grippe', 'Pneumonie', 'Bronchite chronique',
       'Asthme','Suicides', 'Accidents toutes les formes',
       'Accidents de la route']axis=1)

In [ ]:
homme_df.to_csv(r,'homme.csv')

In [248]:
femme_df=pd.read_excel('C:\\Users\\GLOBALINFO\\Desktop\\femme.xlsx')

In [ ]:
femme_df.transpose()

In [249]:
femme_df

,mois,Maladies infectieuses,Covid-19,Tuberculose,Sida,Tumeurs malignes,Estomac,Gros intestin,Poumons,Sein,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,Jan-20,36,0,0,2,641,14,30,128,113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Feb-20,34,0,1,0,629,17,38,117,109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mar-20,33,205,1,0,647,16,48,107,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apr-20,31,645,0,2,588,16,52,110,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,May-20,36,64,0,0,606,12,47,108,109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Jun-20,31,10,0,1,647,17,42,88,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Jul-20,26,8,0,0,653,21,37,129,121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Aug-20,36,17,0,0,632,13,39,107,122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Sep-20,37,32,0,0,594,13,34,99,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Oct-20,23,258,1,0,673,21,40,104,115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Nov-20,44,1'486,0,1,606,17,39,103,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Dec-20,47,1'667,0,0,628,19,47,94,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [250]:
femme_df.columns

Index(['mois', 'Maladies infectieuses', 'Covid-19', 'Tuberculose', 'Sida',
       'Tumeurs malignes', 'Estomac', 'Gros intestin', 'Poumons', 'Sein',
       'Col de l’utérus', 'Diabète sucré', 'Démence', 'Appareil circulatoire',
       'Cardiopathies toutes formes', 'Cardiopathies ischémiques',
       'Embolie  infarctus pulmonaire', 'Maladies cérébro-vasculaires',
       'Appareil respiratoire', 'Grippe', 'Pneumonie', 'Bronchite chronique',
       'Asthme', 'Cirrhose du foie alcoolique', 'Organes urinaires',
       'Anomalies congénitales', 'Causes de mortalité périnatale',
       'Accidents et traumatismes', 'Accidents toutes les formes',
       'Accidents de la route', 'Suicides', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40'],
      dtype='object')

In [ ]:
femme_df.drop(['Tuberculose', 'Sida','Estomac', 'Gros intestin', 'Poumons', 'Sein',
       'Prostate', 'Cardiopathies toutes formes', 'Cardiopathies ischémiques',
       'Embolie  infarctus pulmonaire', 'Maladies cérébro-vasculaires', 'Grippe', 'Pneumonie', 'Bronchite chronique',
       'Asthme','Suicides', 'Accidents toutes les formes',
       'Accidents de la route']axis=1)

In [ ]:
femme_df.to_csv(r,'Femme.csv')

In [ ]:
total_df=pd.read_excel('C:\\Users\\GLOBALINFO\\Desktop\\total.xlsx')

In [ ]:
total_df.transpose()

In [ ]:
total_df.columns

In [ ]:
total_df.drop(['Tuberculose', 'Sida','Estomac', 'Gros intestin', 'Poumons', 'Sein',
       'Prostate', 'Cardiopathies toutes formes', 'Cardiopathies ischémiques',
       'Embolie  infarctus pulmonaire', 'Maladies cérébro-vasculaires', 'Grippe', 'Pneumonie', 'Bronchite chronique',
       'Asthme','Suicides', 'Accidents toutes les formes',
       'Accidents de la route']axis=1)

In [ ]:
total_df.to_csv(r,'total.csv')